.App {
  text-align: center;
  width: 100%;
}
.Title{
  padding: 40px;
  font-size: 40px;
  font-weight: 600;
  color: white;
}

  .button {
    height: 40px;
    width: 180px;
    background-color: #fff;
    border-radius: 10px;
    border: none !important;
    font-weight: 600;
    box-shadow: 3px 3px 10px #fff !important; 
  }
  .card {
    position: absolute;
    left:0;
    right: 0;
    top: 35%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #0009;
    max-width: 400px;
  }

  .text{
    text-align: left;
  }
  .author{
    text-align: right;
    font-weight: 600;
  }